.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 1280px;
}

p {
    padding: 20px 36px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-input {
    width: 10vw;
}