.cart {
    position: fixed;
    right: 0;
    top: 0;
    padding: 30px 10px;
    background-color: white;
}

.cart > * {
    margin-bottom: 20px;
}

.subtotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orangered;
}

.cart-item {
    position: relative;
}

.cart-qty {
    position: absolute;
    bottom: 0;
    right: -5px;
    width: 15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    z-index: 1;
}

.checkout-btn {
    font-weight: bold;
    background-color: slategrey;
    color: rgb(102, 27, 0);
    transform: scale(1.25);
}